body {
    font-family: 'Playfair Display', serif;
    background-color: #83abc5;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1695ac;
    border: 1px solid #ddddddde;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image {
    width: 45%;
    margin: 10px;
    border-radius: 10px;
}

.message {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}

.signature {
    font-style: italic;
    text-align: right;
    margin-top: 20px;
}